# Git LFS : wordlists volumineuses (rockyou, passwords)
redteam-tool/src/main/resources/wordlists/rockyou.txt filter=lfs diff=lfs merge=lfs -text
redteam-tool/src/main/resources/wordlists/passwords.txt filter=lfs diff=lfs merge=lfs -text
# subdomains.txt : petit fichier, commit normal
